<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.pamparampam.myapplication.radiowezel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />




    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />

        </intent>
    </queries>

    <application
        android:name="dev.pamparampam.myapplication.radiowezel.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.LoginActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.pamparampam.myapplication.radiowezel.HomeActivity" />
        </activity>
        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.PlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.pamparampam.myapplication.radiowezel.SearchActivity" />

        </activity>

        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.pamparampam.myapplication.radiowezel.HomeActivity" />
        </activity>

        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.RegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName="dev.pamparampam.myapplication.radiowezel.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.pamparampam.myapplication.radiowezel.LoginActivity" />
        </activity>

        <activity
            android:name="dev.pamparampam.myapplication.radiowezel.EmailVerify"
            android:label="@string/app_name"
            android:parentActivityName="dev.pamparampam.myapplication.radiowezel.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.pamparampam.myapplication.radiowezel.LoginActivity" />
        </activity>
    </application>

</manifest>